@page
@model Wms.Web.Pages.Containers.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "Containers";
}

<h1>Create</h1>

<h4>ContainerRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ContainerRecord.ContainerNo" class="control-label"></label>
                <input asp-for="ContainerRecord.ContainerNo" class="form-control" aria-required="true"/>
                <span asp-validation-for="ContainerRecord.ContainerNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ContainerRecord.Type" class="control-label"></label>
                <input asp-for="ContainerRecord.Type" class="form-control" aria-required="true"/>
                <span asp-validation-for="ContainerRecord.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ContainerRecord.Size" class="control-label"></label>
                <input asp-for="ContainerRecord.Size" class="form-control" aria-required="true"/>
                <span asp-validation-for="ContainerRecord.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ContainerRecord.Line" class="control-label"></label>
                <input asp-for="ContainerRecord.Line" class="form-control" aria-required="true"/>
                <span asp-validation-for="ContainerRecord.Line" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="ContainerRecord.CargoStatus" class="control-label"></label>
                <input asp-for="ContainerRecord.CargoStatus" class="form-control" aria-required="true"/>
                <span asp-validation-for="ContainerRecord.CargoStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContainerRecord.InDate" class="control-label"></label>
                <input asp-for="ContainerRecord.InDate" class="form-control" />
                <span asp-validation-for="ContainerRecord.InDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContainerRecord.CustomsStatus" class="control-label"></label>
                <input asp-for="ContainerRecord.CustomsStatus" class="form-control" />
                <span asp-validation-for="ContainerRecord.CustomsStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
